<app-basic-table-four [tableData]="loanType"></app-basic-table-four>
<br />
<form (ngSubmit)="onSubmit()" class="space-y-6">
  <div>
    <app-label>Loan Type <span class="text-error-500">*</span></app-label>
    <app-input-field
      type="text"
      [value]="typeLoan"
      (valueChange)="typeLoan = $event.toString()"
      name="typeLoan"
      class="form-input"
      required
    />
  </div>
  <div>
    <app-label>Loan Intrest <span class="text-error-500">*</span></app-label>
    <app-input-field
      type="number"
      [value]="typeIntrest"
      (valueChange)="typeIntrest = $event"
      name="typeIntrest"
      class="form-input"
      required
    />
  </div>

  <app-button className="w-full" size="sm" (btnClick)="onSubmit()">
    Add
  </app-button>
</form>
