.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card p {
  font-size: 14px;
  color: gray;
}

.card h2 {
  font-size: 26px;
  margin-top: 10px;
}

.profit {
  color: green;
}

.loss {
  color: red;
}
